# Домашнее задание по теме: Конструирование признаков (Feature Engineering)

## Подготовка окружения

In [ ]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

In [ ]:
# !conda install pandas matplotlib numpy seaborn -y

In [ ]:
import numpy as np

np.__version__

In [ ]:
import pandas as pd

pd.__version__

In [ ]:
import matplotlib

matplotlib.__version__

In [ ]:
import seaborn as sns

sns.__version__

## Создание `DataFrame` для примера

In [ ]:
# социологический опрос
df = pd.DataFrame({'name_age': pd.Series(['Oleg 25', 'Pete 32',
                                          'Fedor 31', 'Teodor 55',
                                          'Elena 19', 'Viktor 18',
                                          'Anton 36', 'Boris 45',
                                          'Alex 25', 'Sergey 32'],
                                         dtype='string'),

                   'occupation': pd.Series(['programmer', 'teacher',
                                            'programmer', 'teacher',
                                            'student', 'student',
                                            'teacher', 'manager',
                                            'manager', 'programmer'],
                                           dtype='category'),

                   'weight': pd.Series([80, 98,
                                        86, 88,
                                        60, 75,
                                        91, 96,
                                        65, 73],
                                       dtype='int16'),

                  'life_satisfaction': pd.Series(['5 point', '3 point',
                                                  '4 point', '3 point',
                                                  '1 point', '2 point',
                                                  '4 point', '4 point',
                                                  '4 point', '4 point'],
                                           dtype=pd.CategoricalDtype(categories=['1 point',
                                                                                 '2 point',
                                                                                 '3 point',
                                                                                 '4 point',
                                                                                 '5 point'], ordered=True)),

                'relatives_income_k_rub': pd.Series(['150+', '30-80',
                                                     '30-80', '30-80',
                                                     '0-15', '16-30',
                                                     '30-80', '80-150',
                                                     '16-30', '80-150'],
                                                    dtype=pd.CategoricalDtype(categories=['0-15',
                                                                                '16-30',
                                                                                '30-80',
                                                                                '80-150',
                                                                                '150+'], ordered=True)),

                  'favourite_dish': pd.Series(['cake', 'steak',
                                               'steaks', 'sweet',
                                               'CAKES', 'candy',
                                               'candies', 'dairy',
                                               'milk', 'Dairy'],
                                              dtype='string'),

                   'income_per_hour_rub': pd.Series([300.50, 150.33,
                                                     265.54, 85.69,
                                                     3_150.54, 450.84,
                                                     2_140.36, 1_650.36,
                                                     2_425.84, 1_745.85],
                                                    dtype='float'),

                  'number_working_days_per_week': pd.Series([5, 5,
                                                             4, 2,
                                                             1, 6,
                                                             7, 2,
                                                             5, 4],
                                                            dtype='int8'),

                   'number_working_hours_per_day': pd.Series([8, 8,
                                                              7, 12,
                                                              24, 8,
                                                              3, 10,
                                                              7, 8],
                                                             dtype='int8'),

                   'tell_me_about_yourself': pd.Series(["I'm just a normal person. Nothing special.",
                                                        "I'm a good person. I teach children all over the world.",
                                                        "Nothing special, just a good programmer and father.",
                                                        "I'm a father and husband. I love teach my son.",
                                                        "I'm a good student and I want to travel all over the world. I'm going to be a programmer some day!",
                                                        "I'm a normal student. I want to be a teacher.",
                                                        "I'm a husband and teacher. I teach how to be a programmer. I have a son. I love him.",
                                                        "I don't know what to say. I'm a normal husband and good father.",
                                                        "Now I'm a manager but I'm going to be a programmer. I want to be a good student.",
                                                        "I'm special person! I can do what ever I want! I can be a husband and programmer simultaneously!"],
                                                       dtype='string'),

                   'favourite_weather': pd.Series(['rainbow/fog/warm',
                                                   'sun/fog/rainbow',
                                                   'chilly/fog/sun',
                                                   'rainbow',
                                                   'chilly/sun',
                                                   'warm/sun',
                                                   'chilly',
                                                   'rainbow/sun', 
                                                   'warm/sun',
                                                   'fog/rainbow'],
                                                  dtype='string'),

                    'answer_date_time': pd.Series(['10.10.2020 18:25', '18.12.2020 16:36',
                                                   '06.01.2021 10:14', '07.04.2021 23:25',
                                                   '26.11.2020 06:17', '18.05.2020 15:15',
                                                   '10.03.2021 09:08', '25.02.2020 04:57',
                                                   '28.08.2020 12:54', '10.09.2019 23:25'],
                                                  dtype='datetime64[ns]'),

                   'marital_status': pd.Series(['Married (and not separated)', 
                                                'Single (including living common law)',
                                                'Single (including living common law)', 
                                                'Married (and not separated)',
                                                'Single (including living common law)', 
                                                'Single (including living common law)',
                                                'Married (and not separated)', 
                                                'Single (including living common law)',
                                                'Married (and not separated)', 
                                                'Married (and not separated)'],
                                               dtype='string')
                  })

In [ ]:
# отображать все колонки
pd.options.display.max_columns = None

In [ ]:
df

## **ВНИМАНИЕ**

- Вместо строки `место_для_ответа` необходимо вписать свой ответ. Не рядом, а вместо. Остальную часть оформления менять не нужно.

- В ячейках с комментариями необходимо реализовать то, что описывает комментарий.

- Для выполнения заданий можно использовать любые удобные способы, если в комментариях к заданию не указан конкретный метод.

- В строке "Подсказка" могут быть перечислены какие-то методы, которыми можно воспользоваться, но это не обязательно, так как это только один из множества вариантов (не факт, что лучший).

- Результаты обработки можно добавлять к специально созданному чистому `DataFrame`, или к существующему (как в примерах из лекции).

- **В конце каждого задания необходимо выводить результат в формате "было-стало"**. Может быть указано любое нужное количество колонок (зависит от задания). Важно показать результат по сравнению с исходными данными. Пример: `df[['name_age', 'age']]`.

- Графики можно рисовать любым способом / цветом и т.п. Главное, чтобы было понятно, что там изображено.

- Если в задании требуется **нарисовать график, то он нужен вначале (показать как было) и в конце (как стало)**.

- В некоторых задания необходимо понимать, что значит каждое слово (для их группировки, например). Если значение слова непонятно, то необходимо разобраться с его значением самостоятельно. Пожалуйста, будьте внимательны, перепроверяйте значения слов, если не уверены.

In [ ]:
# получить список колонок и их типы

### Анализ типов шкал

(см. [лекцию](../../03_data_analysis/lectures/08_statistical_data_types.ipynb))

| Наименование | Шкала |
|     -:      |  :-  |
| `name_age` | место_для_ответа |
| `occupation` | место_для_ответа |
| `weight` | место_для_ответа |
| `life_satisfaction` | место_для_ответа |
| `relatives_income_k_rub` | место_для_ответа |
| `favourite_dish` | место_для_ответа |
| `income_per_hour_rub` | место_для_ответа |
| `number_working_days_per_week` | место_для_ответа |
| `number_working_hours_per_day` | место_для_ответа |
| `tell_me_about_yourself` | место_для_ответа |
| `favourite_weather` | место_для_ответа |
| `answer_date_time` | место_для_ответа |
| `marital_status` | место_для_ответа |

## Строковые признаки

In [ ]:
# получить все колонки типа string

### Получить информацию из строки

В колонке `name_age` содержится имя и возраст.

Необходимо получить данные о возрасте.

Результат сохранить в отдельную колонку `age`.

Подсказка: `apply`.

### Группировка строковых признаков и формирование "групп"

Сгруппировать значения из колонки `favourite_dish` по своему усмотрению.

Нарисовать график показывающий распределение категорий в колонке (категория — количество в датасете).

Результат сохранить в отдельную колонку `favourite_dish_grouped`.

### Разделить строку на несколько признаков

Разделить значения из колонки `favourite_weather`.

Результат сохранить в отдельные колонки с суффиксом `_fw` (в конце каждого названия).

### Преобразовать к другому типу

Преобразовать значения из колонки `marital_status` к `bool` (`True` = В браке).

Результат сохранить в отдельную колонку `is_married`.

### Мешок слов (bag-of-words) на примере `CountVectorizer` (`sklearn`)

Преобразовать значения из колонки `tell_me_about_yourself`.

Использовать стандартные `stop_words` (английский язык). 

В результат включить ТОЛЬКО слова, которые встретились в тексте больше (>) 2 раз.

Результат сохранить в отдельные колонки с суффиксом _bw (в конце каждого названия).

## Категориальные признаки

In [ ]:
# получить все колонки типа category

### Комбинации признаков с помощью bool mask filter

Преобразовать значения из колонки `occupation`.

Результат сохранить в отдельные колонки `is_programmer`, `is_teacher`, `is_student`, `is_manager`, `is_programmer_OR_student`, `is_teacher_OR_manager`.

### `OrdinalEncoder` (`sklearn`)

Значения колонок `relatives_income_k_rub` и `life_satisfaction` преобразовать в числа.

Результат сохранить в колонки `relatives_income_k_rub_enc_ord` и `life_satisfaction_enc_ord`.

ВНИМАНИЕ: необходимо сохранить правильный порядок категорий.

### `OneHotEncoder` (`sklearn`)

Преобразовать значения колонки `occupation`.

Результат сохранить в колонки с префиксом `occupation_enc_oh` (пример: `occupation_enc_oh_programmer`).

### Dummies (`pandas`)

Преобразовать значения колонки `occupation`.

Результат сохранить в колонки с префиксом `occupation_` (пример: `occupation_teacher`). Это произойдет автоматически, необходимо только проверить, что все сработало правильно.

### `CountEncoder` (`category_encoders`)

Заменить каждое значение колонок `occupation` и `life_satisfaction` количеством раз, сколько оно появляется в наборе данных.

Результат сохранить в колонку с префиксом `count_` (например, `count_life_satisfaction`).

## Числовые признаки

In [ ]:
# получить все колонки типа number

### Округление вещественных чисел

Округлить значения колонки `income_per_hour_rub` до сотен.

Пример: `66.87` округляется до `100.0`, `123456.78` округляется до `123500.0`.

### Объединение нескольких (агрегация) числовых признаков

Создать колонку `income_per_year` показывающую сколько денег зарабатывает человек в год на основе имеющихся колонок.

Предположим, что каждый работает 46 недель в году (52 недели - 4 отпуска - 2 праздничные выходные).

### Приведение числового признака к категориальному и формирование "интервалов" (Binning/Discretization)

#### Биннинг по расстоянию (Binning by distance) с помощью `cut` (`pandas`)

Разбить значения колонки `weight` на **2** равномерно распределенных (`linspace`) бина.

Придумать название (`label`) для каждого бина.

Результат сохранить в колонку `weight_bins_linspace`.

## Дата и время

In [ ]:
# получить все колонки типа datetime64

### День недели

С помощью колонки `answer_date_time` создать колонку `is_friday` типа `bool` (`True` = Пятница). 

С помощью колонки `answer_date_time` создать колонку `day_name` типа `string` с названиями дней недели.

### Время дня + день недели

С помощью колонки `answer_date_time` создать колонку `is_work_time` типа `bool` (`True` = Понедельник-Пятница с 9 до 18).