# Домашнее задание по теме: Обработка пропущенных значений

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

In [2]:
# !conda install matplotlib numpy missingno scikit-learn -y

In [3]:
import numpy as np

np.__version__

'1.19.2'

In [4]:
import pandas as pd

pd.__version__

'1.2.3'

In [5]:
import matplotlib
import matplotlib.pyplot as plt

matplotlib.__version__

'3.3.4'

In [6]:
import sklearn
import sklearn.impute

sklearn.__version__

'0.24.1'

In [7]:
import seaborn as sns

sns.__version__

'0.11.1'

In [8]:
import missingno as msno

msno.__version__

'0.4.2'

## Задание

- Задание можно выполнять любым удобным способом. Нет какого-то одного правильного способа. В каждом блоке задания будет уточнено, при необходимости какие методы требуются для выполнения.

- Писать ответы на вопросы в отдельных ячейках `Markdown`. Постараться оформить все аккуратно и читаемо, использовать форматирование `Markdown`. Ответы писать в свободной форме "как есть". Это просто рассуждение и идеи.

## Загрузка данных

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [11]:
# загрузить датасет в pandas dataframe
df = pd.read_csv("./../../data/survey.csv")

# показать все колонки
pd.options.display.max_columns = None

# вывести первые 5 и последние 5 строк
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

## Обнаружение пропущенных значений

1. Сколько пропущенных значений в каждом столбце (стандартный поиск: `None`, `NaN`, `NA`). 
    - Показать количество с помощью метода из `pandas`. Можно использовать любой подходящий метод.
    - Показать графически с помощью `missingno`. Можно использовать любой метод.
    - Желательно написать какие-то выводы после этого. 

1. Сколько неправильно заполненых значений. Желательно проанализировать каждую колонку на аномальные значения. Для этого нужно изучить, что значит каждая колонка и предположить адекватные границы для нее. Написать свои рассуждения на эту тему в отдельную ячейку `Markdown` для каждой колонки. Например:
    - Колонка `Age` определенно должна быть положительной, это возраст. Возраст точно не может быть отрицательным в опросе о психическом здоровье на рабочем месте в сфере высоких технологий, 2014 г. Более того, он не может быть меньше 16, верноятно, так как это работники в ИТ, а не школьники, и т.п.
    - ВНИМАНИЕ: Заменить все эти неправильные значения на пропущенные (например, `np.nan` или на любое другое значение, которое `pandas` считает пропущенным).

1. Показать итоговое количество пропущенных значений после анализа каждой колонки и замены неверно заполненных значений. Скорее всего пропущенных значений станет больше.
    - Показать количество с помощью метода из `pandas`. Можно использовать любой подходящий метод.
    - Показать графически с помощью ``missingno`. Можно использовать любой метод.

In [12]:
# сколько пропущенных значений в каждом столбце (стандартный поиск)
df.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64