# Домашнее задание по теме:

## Подготовка окружения

In [ ]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

In [2]:
# !conda install pandas matplotlib numpy seaborn -y

In [3]:
import numpy as np

np.__version__

'1.19.2'

In [4]:
import pandas as pd

pd.__version__

'1.2.3'

In [5]:
import matplotlib
import matplotlib.pyplot as plt

matplotlib.__version__

'3.3.4'

In [6]:
import seaborn as sns

sns.__version__

'0.11.1'

## Создание `DataFrame` для примера

In [7]:
# товары в интернет магазине
df = pd.DataFrame({'user_name': pd.Series(['Mr Oleg', 'Mr Oleg',
                                           'Mr Pete', 'Mr Pete',
                                           'Mrs Elena', 'Mr Viktor',
                                           'Mr Anton', 'Mr Anton',
                                           'Mrs Alex', 'Mrs Alex'],
                                          dtype='string'),

                   'user_country': pd.Series(['Russia', 'Russia',
                                              'USA', 'USA',
                                              'India', 'Germany',
                                              'Russia', 'Russia',
                                              'Germany', 'Germany'],
                                             dtype='category'),

                   'user_age': pd.Series([25, 25,
                                          66, 66,
                                          36, 15,
                                          48, 48,
                                          86, 86],
                                         dtype='int8'),

                  'user_rating': pd.Series(['5 star', '5 star',
                                            '3 star', '3 star',
                                            '1 star', '2 star',
                                            '5 star', '5 star',
                                            '4 star', '4 star'],
                                           dtype=pd.CategoricalDtype(categories=['1 star',
                                                                                 '2 star',
                                                                                 '3 star',
                                                                                 '4 star',
                                                                                 '5 star'], ordered=True)),

                'user_complaints': pd.Series(['1 point', '1 point',
                                            '4 point', '4 point',
                                            '5 point', '5 point',
                                            '1 point', '1 point',
                                            '2 point', '2 point'],
                                           dtype=pd.CategoricalDtype(categories=['5 point',
                                                                                 '4 point',
                                                                                 '3 point',
                                                                                 '2 point',
                                                                                 '1 point'], ordered=True)),

                  'item_title': pd.Series(['toy', 'Beautiful Cat',
                                           'Car', 'TV',
                                           'Toys', 'Television',
                                           'Smartphone', 'Dog',
                                           'Kitty', 'Soft TOY'],
                                          dtype='string'),

                   'item_price_rub': pd.Series([300.50, 5000,
                                                800_500, 19_999.99,
                                                678.23, 10_999.99,
                                                10_000, 1_000,
                                                100, 4999.99],
                                               dtype='float'),

                  'item_width_cm': pd.Series([20, 80,
                                              300, 200,
                                              100, 150,
                                              10, 100,
                                              15, 150],
                                             dtype='float'),

                   'item_height_cm': pd.Series([30, 50,
                                                200, 100,
                                                80, 80,
                                                15, 90,
                                                10, 150],
                                               dtype='float'),

                   'item_description': pd.Series(['Little kids love things bright and colorful. They are easily attracted to them. Colorful Learning Blocks set to make your little one playtime educational yet fun. ',
                                                  'Kids and adults love cats! This animal is stunning. It likes play with all people in living room or bedroom!',
                                                  'Comfortable seats. Updated interior displays. Beautifully finished interior.',
                                                  'Operating System: Android (Google Assistant & Chromecast in-built). You can enjoy a stunning viewing experience in your living room or bedroom.',
                                                  'Blocks for the creative minds. Perfect for the growing kids. Contains alphabet blocks, 4 animal puzzles and a set of blocks. ',
                                                  'Operating System: Android (Google Assistant & Chromecast in-built). The Gamma Engine, along with the noise reduction feature, delivers lifelike visuals with dynamic contrast and anti-aliasing to enhance your viewing experience.',
                                                  'If you like Android, the Samsung Galaxy S21 Ultra is incredibly good.',
                                                  'This dog is a perfect choice! The dog for free adoption. Perfect for the adults.',
                                                  'Kittens for free adoption. Perfect for the adults. If you like cats, a kitten is an incredibly good choice.',
                                                  'Kids and adults love soft toys! It can beautify interior and perfect for the growing kids.'],
                                                 dtype='string'),

                   'item_tags': pd.Series(['children, beautiful, good_condition',
                                           'animal, cat, beautiful',
                                           'beautiful, good_condition',
                                           'good_condition',
                                           'children, animal',
                                           'good_condition',
                                           'good_condition',
                                           'animal, dog', 'animal',
                                           'children, good_condition'],
                                          dtype='string'),

                   'item_age_month': pd.Series([1, 0,
                                                6, 12,
                                                3, 4,
                                                18, 1,
                                                9, 8],
                                              dtype='int16'),

                   'item_color': pd.Series(['red', 'blue',
                                            'rainbow', 'white',
                                            'red', 'white',
                                            'rainbow', 'white',
                                            'white', 'blue'],
                                           dtype='category'),

                    'open_date_time': pd.Series(['10.10.2020 18:25', '20.12.2020 16:36',
                                                 '06.01.2021 10:14', '07.04.2021 23:25',
                                                 '26.11.2020 06:17', '18.05.2020 15:15',
                                                 '10.03.2021 09:08', '25.02.2020 04:57',
                                                 '28.08.2020 12:54', '10.09.2019 23:25'],
                                                dtype='datetime64[ns]'),

                   'status': pd.Series(['sold out', 'for_sale',
                                        'for_sale', 'for_sale',
                                        'sold out', 'sold out',
                                        'for_sale', 'for_sale',
                                        'sold out', 'for_sale'],
                                       dtype='string')
                  })

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [ ]:
# отображать все колонки
pd.options.display.max_columns = None

In [ ]:
df.info()

In [ ]:
df

### Анализ типов шкал

(см. [лекцию](../../03_data_analysis/lectures/08_statistical_data_types.ipynb))

- `user_name` - номинальная
- `user_country` - номинальная
- `user_age` - отношений
- `user_rating` - порядковая
- `user_complaints` - порядковая
- `item_title` - номинальная
- `item_price_rub` - отношений
- `item_width_cm` - отношений
- `item_height_cm` - отношений
- `item_description` - номинальная
- `item_tags` - номинальная
- `item_age_month` - отношений
- `item_color` - номинальная
- `open_date_time` - интервальная
- `status` - номинальная или порядковая