# Домашнее задание по теме: Конструирование признаков (Feature Engineering)

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

In [2]:
# !conda install pandas matplotlib numpy seaborn -y

In [3]:
import numpy as np

np.__version__

'1.19.2'

In [4]:
import pandas as pd

pd.__version__

'1.2.3'

In [5]:
import matplotlib
import matplotlib.pyplot as plt

matplotlib.__version__

'3.3.4'

In [6]:
import seaborn as sns

sns.__version__

'0.11.1'

## Создание `DataFrame` для примера

In [9]:
# социологический опрос
df = pd.DataFrame({'name_age': pd.Series(['Oleg 25', 'Pete 32',
                                          'Fedor 31', 'Teodor 55',
                                          'Elena 19', 'Viktor 18',
                                          'Anton 36', 'Boris 45',
                                          'Alex 25', 'Sergey 32'],
                                         dtype='string'),

                   'occupation': pd.Series(['programmer', 'teacher',
                                            'programmer', 'teacher',
                                            'student', 'student',
                                            'teacher', 'manager',
                                            'manager', 'programmer'],
                                           dtype='category'),

                   'weight': pd.Series([80, 98,
                                        86, 88,
                                        60, 75,
                                        91, 96,
                                        65, 73],
                                       dtype='int16'),

                  'life_satisfaction': pd.Series(['5 point', '3 point',
                                                  '4 point', '3 point',
                                                  '1 point', '2 point',
                                                  '4 point', '4 point',
                                                  '4 point', '4 point'],
                                           dtype=pd.CategoricalDtype(categories=['1 point',
                                                                                 '2 point',
                                                                                 '3 point',
                                                                                 '4 point',
                                                                                 '5 point'], ordered=True)),

                'relatives_income_k_rub': pd.Series(['150+', '30-80',
                                                     '30-80', '30-80',
                                                     '0-15', '16-30',
                                                     '30-80', '80-150',
                                                     '16-30', '80-150'],
                                                    dtype=pd.CategoricalDtype(categories=['0-15',
                                                                                '16-30',
                                                                                '30-80',
                                                                                '80-150',
                                                                                '150+'], ordered=True)),

                  'favourite_dish': pd.Series(['cake', 'steak',
                                               'steaks', 'sweet',
                                               'CAKES', 'candy',
                                               'candies', 'dairy',
                                               'milk', 'Dairy'],
                                              dtype='string'),

                   'income_per_hour_rub': pd.Series([300.50, 150.33,
                                                     265.54, 85.69,
                                                     3_150.54, 450.84,
                                                     2_140.36, 1_650.36,
                                                     2_425.84, 1_745.85],
                                                    dtype='float'),

                  'number_working_days_per_week': pd.Series([5, 5,
                                                             4, 2,
                                                             1, 6,
                                                             7, 2,
                                                             5, 4],
                                                            dtype='int8'),

                   'number_working_hours_per_day': pd.Series([8, 8,
                                                              7, 12,
                                                              24, 8,
                                                              3, 10,
                                                              7, 8],
                                                             dtype='int8'),

                   'tell_me_about_yourself': pd.Series(["I'm just a normal person. Nothing special.",
                                                        "I'm a good person. I teach children all over the world.",
                                                        "Nothing special, just a good programmer and father.",
                                                        "I'm a father and hasband. I love teach my son.",
                                                        "I'm a good student and I want to travel all over the world. I'm going to be a programmer some day!",
                                                        "I'm a normal student. I want to be a teacher.",
                                                        "I'm a hasband and teacher. I teach how to be a programmer. I have a son. I love him.",
                                                        "I don't know what to say. I'm a normal husband and good father.",
                                                        "Now I'm a manager but I'm going to be a programmer. I want to be a good student.",
                                                        "I'm special person! I can do what ever I want! I can be a husband and programmer simultaneously!"],
                                                       dtype='string'),

                   'favourite_weather': pd.Series(['rainbow, fog, warm',
                                                   'sun, fog, rainbow',
                                                   'chilly, fog, sun',
                                                   'rainbow',
                                                   'chilly, sun',
                                                   'warm, sun',
                                                   'chilly',
                                                   'rainbow, dog', 
                                                   'warm, sun',
                                                   'fog, rainbow'],
                                                  dtype='string'),

                    'answer_date_time': pd.Series(['10.10.2020 18:25', '20.12.2020 16:36',
                                                   '06.01.2021 10:14', '07.04.2021 23:25',
                                                   '26.11.2020 06:17', '18.05.2020 15:15',
                                                   '10.03.2021 09:08', '25.02.2020 04:57',
                                                   '28.08.2020 12:54', '10.09.2019 23:25'],
                                                  dtype='datetime64[ns]'),

                   'marital_status': pd.Series(['Married (and not separated)', 
                                                'Single (including living common law)',
                                                'Single (including living common law)', 
                                                'Married (and not separated)',
                                                'Single (including living common law)', 
                                                'Single (including living common law)',
                                                'Married (and not separated)', 
                                                'Single (including living common law)',
                                                'Married (and not separated)', 
                                                'Married (and not separated)'],
                                               dtype='string')
                  })

In [10]:
# отображать все колонки
pd.options.display.max_columns = None

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name_age                      10 non-null     string
 1   occupation                    10 non-null     category
 2   weight                        10 non-null     int16
 3   life_satisfaction             10 non-null     category
 4   relatives_income_k_rub        10 non-null     category
 5   favourite_dish                10 non-null     string
 6   income_per_hour_rub           10 non-null     float64
 7   number_working_days_per_week  10 non-null     int8
 8   number_working_hours_per_day  10 non-null     int8
 9   tell_me_about_yourself        10 non-null     string
 10  favourite_weather             10 non-null     string
 11  answer_date_time              10 non-null     datetime64[ns]
 12  marital_status                10 non-null     string
dtypes: category(3), datetime64[ns](1), float64(1), int16(1), int8(2), string(5)
memory usage: 1.4 KB

In [12]:
df

,name_age,occupation,weight,life_satisfaction,relatives_income_k_rub,favourite_dish,income_per_hour_rub,number_working_days_per_week,number_working_hours_per_day,tell_me_about_yourself,favourite_weather,answer_date_time,marital_status
0,Oleg 25,programmer,80,5 point,150+,cake,300.50,5,8,I'm just a normal person. Nothing special.,"rainbow, fog, warm",2020-10-10 18:25:00,Married (and not separated)
1,Pete 32,teacher,98,3 point,30-80,steak,150.33,5,8,I'm a good person. I teach children all over t...,"sun, fog, rainbow",2020-12-20 16:36:00,Single (including living common law)
2,Fedor 31,programmer,86,4 point,30-80,steaks,265.54,4,7,"Nothing special, just a good programmer and fa...","chilly, fog, sun",2021-06-01 10:14:00,Single (including living common law)
3,Teodor 55,teacher,88,3 point,30-80,sweet,85.69,2,12,I'm a father and hasband. I love teach my son.,rainbow,2021-07-04 23:25:00,Married (and not separated)
4,Elena 19,student,60,1 point,0-15,CAKES,3150.54,1,24,I'm a good student and I want to travel all ov...,"chilly, sun",2020-11-26 06:17:00,Single (including living common law)
5,Viktor 18,student,75,2 point,16-30,candy,450.84,6,8,I'm a normal student. I want to be a teacher.,"warm, sun",2020-05-18 15:15:00,Single (including living common law)
6,Anton 36,teacher,91,4 point,30-80,candies,2140.36,7,3,I'm a hasband and teacher. I teach how to be a...,chilly,2021-10-03 09:08:00,Married (and not separated)
7,Boris 45,manager,96,4 point,80-150,dairy,1650.36,2,10,I don't know what to say. I'm a normal husband...,"rainbow, dog",2020-02-25 04:57:00,Single (including living common law)
8,Alex 25,manager,65,4 point,16-30,milk,2425.84,5,7,Now I'm a manager but I'm going to be a progra...,"warm, sun",2020-08-28 12:54:00,Married (and not separated)
9,Sergey 32,programmer,73,4 point,80-150,Dairy,1745.85,4,8,I'm special person! I can do what ever I want!...,"fog, rainbow",2019-10-09 23:25:00,Married (and not separated)

### Анализ типов шкал

(см. [лекцию](../../03_data_analysis/lectures/08_statistical_data_types.ipynb))

- `user_name` - номинальная
- `user_country` - номинальная
- `user_age` - отношений
- `user_rating` - порядковая
- `user_complaints` - порядковая
- `item_title` - номинальная
- `item_price_rub` - отношений
- `item_width_cm` - отношений
- `item_height_cm` - отношений
- `item_description` - номинальная
- `item_tags` - номинальная
- `item_age_month` - отношений
- `item_color` - номинальная
- `open_date_time` - интервальная
- `status` - номинальная или порядковая