In [1]:
import numpy as np

np.__version__

'1.20.2'

In [2]:
import pandas as pd

pd.__version__

'1.2.5'

In [22]:
df = pd.read_csv("../../../data_from_sergey/GAZP_210701_210713.csv")
df

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,GAZP,1,20210701,100100,281.88,282.57,281.88,282.47,438510
1,GAZP,1,20210701,100200,282.42,282.86,282.32,282.74,487660
2,GAZP,1,20210701,100300,282.74,283.00,282.50,282.77,416910
3,GAZP,1,20210701,100400,282.64,282.90,282.50,282.59,264160
4,GAZP,1,20210701,100500,282.67,282.69,282.11,282.25,337050
...,...,...,...,...,...,...,...,...,...
6837,GAZP,1,20210713,155000,293.35,293.47,293.31,293.40,20460
6838,GAZP,1,20210713,155100,293.40,293.41,293.22,293.33,200960
6839,GAZP,1,20210713,155200,293.30,293.35,293.22,293.35,24000
6840,GAZP,1,20210713,155300,293.35,293.42,293.28,293.31,91710
6841,GAZP,1,20210713,155400,293.25,293.28,293.25,293.28,3960

In [23]:
df2 = df.copy()

# df2['<TIME2>'] = df2['<TIME>']
# df2 = df2.drop(['<TIME>'], axis = 1)
# df2.rename(columns={"<TIME>": "<TIME2>"}, inplace=True)
df2

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,GAZP,1,20210701,100100,281.88,282.57,281.88,282.47,438510
1,GAZP,1,20210701,100200,282.42,282.86,282.32,282.74,487660
2,GAZP,1,20210701,100300,282.74,283.00,282.50,282.77,416910
3,GAZP,1,20210701,100400,282.64,282.90,282.50,282.59,264160
4,GAZP,1,20210701,100500,282.67,282.69,282.11,282.25,337050
...,...,...,...,...,...,...,...,...,...
6837,GAZP,1,20210713,155000,293.35,293.47,293.31,293.40,20460
6838,GAZP,1,20210713,155100,293.40,293.41,293.22,293.33,200960
6839,GAZP,1,20210713,155200,293.30,293.35,293.22,293.35,24000
6840,GAZP,1,20210713,155300,293.35,293.42,293.28,293.31,91710
6841,GAZP,1,20210713,155400,293.25,293.28,293.25,293.28,3960

In [24]:
# df2 = df2.set_index('<TIME2>')
df2 = df2.set_index("<TIME>")
df2

       <TICKER>  <PER>    <DATE>  <OPEN>  <HIGH>   <LOW>  <CLOSE>   <VOL>
<TIME>
100100     GAZP      1  20210701  281.88  282.57  281.88   282.47  438510
100200     GAZP      1  20210701  282.42  282.86  282.32   282.74  487660
100300     GAZP      1  20210701  282.74  283.00  282.50   282.77  416910
100400     GAZP      1  20210701  282.64  282.90  282.50   282.59  264160
100500     GAZP      1  20210701  282.67  282.69  282.11   282.25  337050
...         ...    ...       ...     ...     ...     ...      ...     ...
155000     GAZP      1  20210713  293.35  293.47  293.31   293.40   20460
155100     GAZP      1  20210713  293.40  293.41  293.22   293.33  200960
155200     GAZP      1  20210713  293.30  293.35  293.22   293.35   24000
155300     GAZP      1  20210713  293.35  293.42  293.28   293.31   91710
155400     GAZP      1  20210713  293.25  293.28  293.25   293.28    3960

[6842 rows x 8 columns]

In [25]:
df["<TIME>"] = df["<TIME>"] + 100
df = df.set_index("<TIME>")
df

       <TICKER>  <PER>    <DATE>  <OPEN>  <HIGH>   <LOW>  <CLOSE>   <VOL>
<TIME>
100200     GAZP      1  20210701  281.88  282.57  281.88   282.47  438510
100300     GAZP      1  20210701  282.42  282.86  282.32   282.74  487660
100400     GAZP      1  20210701  282.74  283.00  282.50   282.77  416910
100500     GAZP      1  20210701  282.64  282.90  282.50   282.59  264160
100600     GAZP      1  20210701  282.67  282.69  282.11   282.25  337050
...         ...    ...       ...     ...     ...     ...      ...     ...
155100     GAZP      1  20210713  293.35  293.47  293.31   293.40   20460
155200     GAZP      1  20210713  293.40  293.41  293.22   293.33  200960
155300     GAZP      1  20210713  293.30  293.35  293.22   293.35   24000
155400     GAZP      1  20210713  293.35  293.42  293.28   293.31   91710
155500     GAZP      1  20210713  293.25  293.28  293.25   293.28    3960

[6842 rows x 8 columns]

In [26]:
df_c = df.join(df2, on="<TIME>", rsuffix="_s")
df_c[0:20]

,<TICKER>,<PER>,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<TICKER>_s,<PER>_s,<DATE>_s,<OPEN>_s,<HIGH>_s,<LOW>_s,<CLOSE>_s,<VOL>_s
<TIME>,,,,,,,,,,,,,,,,
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210701.0,282.42,282.86,282.32,282.74,487660.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210702.0,285.51,285.70,285.36,285.55,108340.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210705.0,286.24,286.32,285.80,286.24,148120.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210706.0,291.79,292.20,291.61,292.20,636340.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210707.0,294.23,295.25,294.05,294.93,467860.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210708.0,296.57,297.00,296.32,296.39,742240.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210709.0,292.44,292.94,292.27,292.49,223390.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210712.0,296.12,296.30,295.97,296.22,167750.0
100200,GAZP,1,20210701,281.88,282.57,281.88,282.47,438510,GAZP,1.0,20210713.0,297.63,297.71,297.30,297.46,413280.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210701.0,282.74,283.00,282.50,282.77,416910.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210702.0,285.55,285.55,285.20,285.20,95910.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210705.0,286.14,286.44,286.01,286.36,170510.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210706.0,292.19,292.30,292.10,292.28,340630.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210707.0,294.95,295.25,294.79,295.08,494490.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210708.0,296.39,296.42,296.20,296.30,254350.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210709.0,292.42,292.61,292.07,292.23,122480.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210712.0,296.20,296.28,296.08,296.20,93360.0
100300,GAZP,1,20210701,282.42,282.86,282.32,282.74,487660,GAZP,1.0,20210713.0,297.41,297.54,296.88,296.89,202740.0
100400,GAZP,1,20210701,282.74,283.00,282.50,282.77,416910,GAZP,1.0,20210701.0,282.64,282.90,282.50,282.59,264160.0
100400,GAZP,1,20210701,282.74,283.00,282.50,282.77,416910,GAZP,1.0,20210702.0,285.20,285.25,284.76,284.94,134470.0