# Конструирование признаков (Feature Engineering): Категориальные признаки

---

**Источники:**

[What are the pros and cons between get_dummies (Pandas) and OneHotEncoder (Scikit-learn)?](https://stackoverflow.com/questions/36631163/what-are-the-pros-and-cons-between-get-dummies-pandas-and-onehotencoder-sciki/38650886#38650886)

[how to maintain natural order when label encoding with scikit learn](https://stackoverflow.com/questions/59065247/how-to-maintain-natural-order-when-label-encoding-with-scikit-learn)

[Encoding categorical variables](https://kiwidamien.github.io/encoding-categorical-variables.html)

[Using a pipeline and transforming data with imputing and OneHotEncoding performs worse than get_dummies](https://datascience.stackexchange.com/questions/56325/using-a-pipeline-and-transforming-data-with-imputing-and-onehotencoding-performs)

---

**Пример:**
Цвет (color), т.е. синий (blue), красный (red), зеленый (green).


**Возможное решение:**
- Добавить признаки вида is_red, is_blue, is_green, is_red_or_blue и другие возможные комбинации.
- Категория -> число (`LabelEncoder` или `OneHotEncoder`).
- Заменить признаки на их количество (`CountEncoder`).
- `TargetEncoder`.
- `CatBoostEncoder`.

In [1]:

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./../../data/FuelConsumptionCo2.csv")
df

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [3]:
df_num = df.select_dtypes(include=[np.number])
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   ENGINESIZE                1067 non-null   float64
 2   CYLINDERS                 1067 non-null   int64
 3   FUELCONSUMPTION_CITY      1067 non-null   float64
 4   FUELCONSUMPTION_HWY       1067 non-null   float64
 5   FUELCONSUMPTION_COMB      1067 non-null   float64
 6   FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 7   CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4)
memory usage: 66.8 KB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [5]:
list(df.MAKE.unique())

['ACURA',
 'ASTON MARTIN',
 'AUDI',
 'BENTLEY',
 'BMW',
 'BUICK',
 'CADILLAC',
 'CHEVROLET',
 'CHRYSLER',
 'DODGE',
 'FIAT',
 'FORD',
 'GMC',
 'HONDA',
 'HYUNDAI',
 'INFINITI',
 'JAGUAR',
 'JEEP',
 'KIA',
 'LAMBORGHINI',
 'LAND ROVER',
 'LEXUS',
 'LINCOLN',
 'MASERATI',
 'MAZDA',
 'MERCEDES-BENZ',
 'MINI',
 'MITSUBISHI',
 'NISSAN',
 'PORSCHE',
 'RAM',
 'ROLLS-ROYCE',
 'SCION',
 'SMART',
 'SRT',
 'SUBARU',
 'TOYOTA',
 'VOLKSWAGEN',
 'VOLVO']

In [6]:
acura = df.MAKE.unique()[0]
acura

'ACURA'

In [7]:
list(df.MODEL.unique())

['ILX',
 'ILX HYBRID',
 'MDX 4WD',
 'RDX AWD',
 'RLX',
 'TL',
 'TL AWD',
 'TSX',
 'DB9',
 'RAPIDE',
 'V8 VANTAGE',
 'V8 VANTAGE S',
 'VANQUISH',
 'A4',
 'A4 QUATTRO',
 'A5 CABRIOLET QUATTRO',
 'A5 QUATTRO',
 'A6 QUATTRO',
 'A6 QUATTRO TDI CLEAN DIESEL',
 'A7 QUATTRO',
 'A7 QUATTRO TDI CLEAN DIESEL',
 'A8',
 'A8 TDI CLEAN DIESEL',
 'A8L',
 'A8L TDI CLEAN DIESEL',
 'ALLROAD QUATTRO',
 'Q5',
 'Q5 HYBRID',
 'Q5 TDI CLEAN DIESEL',
 'Q7',
 'Q7 TDI CLEAN DIESEL',
 'R8',
 'R8 SPYDER',
 'RS5',
 'RS5 CABRIOLET',
 'RS7',
 'S4',
 'S5',
 'S5 CABRIOLET',
 'S6',
 'S7',
 'S8',
 'SQ5',
 'TT COUPE QUATTRO',
 'TT ROADSTER QUATTRO',
 'TTS COUPE QUATTRO',
 'TTS ROADSTER QUATTRO',
 'CONTINENTAL GT',
 'CONTINENTAL GT CONVERTIBLE',
 'CONTINENTAL GT SPEED CONVERTIBLE',
 'CONTINENTAL GTC',
 'FLYING SPUR',
 'MULSANNE',
 '320i',
 '320i xDRIVE',
 '328d xDRIVE',
 '328d xDRIVE TOURING',
 '328i',
 '328i xDRIVE',
 '328i xDRIVE GRAN TURISMO',
 '328i xDRIVE TOURING',
 '335i',
 '335i xDRIVE',
 '335i xDRIVE GRAN TURISMO',
 '428i COUPE',
 '428i xDRIVE COUPE',
 '435i COUPE',
 '435i xDRIVE COUPE',
 '528i',
 '528i xDRIVE',
 '535d xDRIVE',
 '535i xDRIVE',
 '535i xDRIVE GRAN TURISMO',
 '550i xDRIVE',
 '550i xDRIVE GRAN TURISMO',
 '640i xDRIVE GRAN COUPE',
 '650i xDRIVE CABRIOLET',
 '650i xDRIVE COUPE',
 '650i xDRIVE GRAN COUPE',
 '740Li xDRIVE',
 '750i xDRIVE',
 '750Li xDRIVE',
 '760Li',
 'ACTIVEHYBRID 3',
 'ACTIVEHYBRID 5',
 'ACTIVEHYBRID 7L',
 'ALPINA B7 xDRIVE LWB',
 'ALPINA B7 xDRIVE SWB',
 'M5',
 'M6',
 'M6 CABRIOLET',
 'M6 GRAN COUPE',
 'X1 xDRIVE28i',
 'X1 xDRIVE35i',
 'X3 xDRIVE28i',
 'X3 xDRIVE35i',
 'X5 xDRIVE35i',
 'X5 xDRIVE50i',
 'X6 M',
 'X6 xDRIVE35i',
 'X6 xDRIVE50i',
 'Z4 sDRIVE28i',
 'Z4 sDRIVE35i',
 'Z4 sDRIVE35is',
 'ENCLAVE',
 'ENCLAVE AWD',
 'ENCORE',
 'ENCORE AWD',
 'LACROSSE',
 'LACROSSE AWD',
 'LACROSSE eASSIST',
 'REGAL',
 'REGAL AWD',
 'REGAL eASSIST',
 'VERANO',
 'ATS',
 'ATS AWD',
 'CTS COUPE',
 'CTS COUPE AWD',
 'CTS SEDAN',
 'CTS SEDAN AWD',
 'CTS SEDAN Vsport',
 'CTS SPORT WAGON',
 'CTS SPORT WAGON AWD',
 'CTS-V COUPE',
 'CTS-V SEDAN',
 'CTS-V SPORT WAGON',
 'ESCALADE AWD',
 'ESCALADE ESV AWD',
 'SRX',
 'SRX AWD',
 'XTS',
 'XTS AWD',
 'XTS Vsport AWD',
 'CAMARO',
 'CAMARO 2LS',
 'CAMARO SS',
 'CAMARO ZL1',
 'CORVETTE',
 'CRUZE',
 'CRUZE DIESEL',
 'CRUZE ECO',
 'EQUINOX',
 'EQUINOX AWD',
 'EXPRESS 1500 CARGO',
 'EXPRESS 1500 CARGO AWD',
 'EXPRESS 1500 CARGO CONV',
 'EXPRESS 1500 CARGO CONV AWD',
 'EXPRESS 1500 PASSENGER',
 'EXPRESS 1500 PASSENGER AWD',
 'EXPRESS 2500 PASSENGER',
 'EXPRESS 3500 PASSENGER',
 'IMPALA',
 'IMPALA ECO',
 'MALIBU',
 'ORLANDO',
 'SILVERADO',
 'SILVERADO 4WD',
 'SONIC',
 'SONIC 5',
 'SONIC 5 RS',
 'SONIC RS',
 'SPARK',
 'SUBURBAN',
 'SUBURBAN 4WD',
 'TAHOE',
 'TAHOE 4WD',
 'TRAVERSE',
 'TRAVERSE AWD',
 'TRAX',
 'TRAX AWD',
 '300',
 '200 CONVERTIBLE',
 '200 CONVERTIBLE FFV',
 '200 SEDAN',
 '200 SEDAN FFV',
 '300 (MDS)',
 '300 AWD',
 '300 AWD (MDS)',
 '300 AWD FFV',
 '300 FFV',
 '300 SRT (MDS)',
 'TOWN & COUNTRY FFV',
 'AVENGER',
 'AVENGER FFV',
 'CHALLENGER',
 'CHALLENGER (MDS)',
 'CHALLENGER SRT',
 'CHALLENGER SRT (MDS)',
 'CHARGER',
 'CHARGER (MDS)',
 'CHARGER AWD',
 'CHARGER AWD (MDS)',
 'CHARGER AWD FFV',
 'CHARGER FFV',
 'CHARGER SRT (MDS)',
 'DART',
 'DART FFV',
 'DART GT',
 'DART TURBO AERO',
 'DURANGO AWD (MDS)',
 'DURANGO AWD FFV',
 'GRAND CARAVAN FFV',
 'JOURNEY',
 'JOURNEY AWD',
 'JOURNEY FFV',
 '500 ABARTH CABRIO',
 '500 ABARTH HATCHBACK',
 '500 CABRIO',
 '500 CABRIO TURBO',
 '500 HATCHBACK',
 '500 HATCHBACK TURBO',
 '500L TURBO',
 'C-MAX HYBRID',
 'E150 VAN FFV',
 'E150 WAGON FFV',
 'E350 WAGON',
 'E350 WAGON FFV',
 'EDGE',
 'EDGE AWD',
 'ESCAPE',
 'ESCAPE AWD',
 'EXPEDITION 4X4 FFV',
 'EXPLORER',
 'EXPLORER AWD',
 'EXPLORER FFV',
 'EXPLORER FFV AWD',
 'F150',
 'F150 4X4',
 'F150 FFV',
 'F150 FFV 4X4',
 'F150 RAPTOR 4X4',
 'FIESTA',
 'FIESTA SFE',
 'FIESTA ST',
 'FLEX',
 'FLEX AWD',
 'FLEX AWD (EcoBoost)',
 'FOCUS',
 'FOCUS FFV',
 'FOCUS SFE FFV',
 'FUSION',
 'FUSION (Start/Stop)',
 'FUSION AWD',
 'FUSION HYBRID',
 'MUSTANG',
 'MUSTANG CONVERTIBLE',
 'TAURUS',
 'TAURUS AWD',
 'TAURUS FFV',
 'TAURUS FFV AWD',
 'TRANSIT CONNECT',
 'TRANSIT CONNECT TAXI',
 'TRANSIT CONNECT WAGON',
 'ACADIA',
 'ACADIA AWD',
 'SAVANA 1500 CARGO',
 'SAVANA 1500 CARGO AWD',
 'SAVANA 1500 CARGO CONV',
 'SAVANA 1500 CARGO CONV AWD',
 'SAVANA 1500 PASSENGER',
 'SAVANA 1500 PASSENGER AWD',
 'SAVANA 2500 PASSENGER',
 'SAVANA 3500 PASSENGER',
 'SIERRA',
 'SIERRA 4WD',
 'TERRAIN',
 'TERRAIN AWD',
 'YUKON',
 'YUKON 4WD',
 'YUKON DENALI AWD',
 'YUKON DENALI XL AWD',
 'YUKON XL',
 'YUKON XL 4WD',
 'ACCORD',
 'ACCORD HYBRID',
 'CIVIC',
 'CROSSTOUR AWD',
 'CR-V',
 'CR-V AWD',
 'CR-Z',
 'FIT',
 'ODYSSEY',
 'PILOT',
 'PILOT AWD',
 'RIDGELINE AWD',
 'ACCENT',
 'ELANTRA GT',
 'EQUUS',
 'GENESIS',
 'SANTA FE',
 'SANTA FE 4WD',
 'SANTA FE SPORT',
 'SANTA FE SPORT 4WD',
 'SONATA',
 'SONATA HYBRID',
 'SONATA HYBRID LIMITED',
 'TUCSON',
 'TUCSON 4WD',
 'VELOSTER',
 'VELOSTER TURBO',
 'Q50',
 'Q50 AWD',
 'Q50 HYBRID',
 'Q50 HYBRID AWD',
 'Q60 AWD COUPE',
 'Q60 CONVERTIBLE',
 'Q60 COUPE',
 'Q70',
 'Q70 AWD',
 'Q70 HYBRID',
 'QX50 AWD',
 'QX60',
 'QX60 AWD',
 'QX60 HYBRID AWD',
 'QX70 AWD',
 'QX80 4WD',
 'F-TYPE CONVERTIBLE',
 'F-TYPE S CONVERTIBLE',
 'F-TYPE V8 S CONVERTIBLE',
 'XF',
 'XF 3.0L AWD',
 'XFR',
 'XFR-S',
 'XJ AWD',
 'XJ SUPERCHARGED',
 'XJL AWD PORTFOLIO',
 'XJL SUPERCHARGED',
 'XJR',
 'XJR LWB',
 'XK CONVERTIBLE',
 'XK COUPE',
 'XKR CONVERTIBLE',
 'XKR COUPE',
 'XKR-S CONVERTIBLE',
 'XKR-S COUPE',
 'CHEROKEE',
 'CHEROKEE 4X4',
 'CHEROKEE 4X4 Active Drive II',
 'CHEROKEE TRAILHAWK 4X4',
 'COMPASS',
 'COMPASS 4X4',
 'COMPASS 4X4 TRAIL RATED',
 'GRAND CHEROKEE 4X4 (MDS)',
 'GRAND CHEROKEE 4X4 DIESEL',
 'GRAND CHEROKEE 4X4 FFV',
 'GRAND CHEROKEE 4X4 SRT (MDS)',
 'PATRIOT',
 'PATRIOT 4X4',
 'PATRIOT 4X4 TRAIL RATED',
 'WRANGLER 4X4 (2-DOOR)',
 'WRANGLER UNLIMITED 4X4 (4-DOOR)',
 'CADENZA',
 'FORTE',
 'FORTE 5',
 'FORTE KOUP',
 'OPTIMA',
 'RIO',
 'RIO ECO',
 'RONDO',
 'SEDONA',
 'SORENTO',
 'SORENTO 4WD',
 'SOUL',
 'SOUL ECO Dynamics',
 'SPORTAGE',
 'SPORTAGE AWD',
 'AVENTADOR COUPE',
 'GALLARDO COUPE',
 'LR2',
 'LR4',
 'RANGE ROVER EVOQUE',
 'RANGE ROVER EVOQUE COUPE',
 'RANGE ROVER LWB V8 5.0 SC',
 'RANGE ROVER LWB V8 5.0 SC FFV',
 'RANGE ROVER SPORT V6 3.0 SC',
 'RANGE ROVER SPORT V6 3.0 SC FFV',
 'RANGE ROVER SPORT V8 5.0 SC',
 'RANGE ROVER SPORT V8 5.0 SC FFV',
 'RANGE ROVER V6 3.0 SC',
 'RANGE ROVER V6 3.0 SC FFV',
 'RANGE ROVER V8 5.0 SC',
 'RANGE ROVER V8 5.0 SC FFV',
 'CT 200h',
 'ES 300h',
 'ES 350',
 'GS 350',
 'GS 350 AWD',
 'GS 450h',
 'GX 460',
 'IS 250',
 'IS 250 AWD',
 'IS 250 C',
 'IS 350',
 'IS 350 AWD',
 'IS 350 C',
 'IS F',
 'LS 460',
 'LS 460 AWD',
 'LS 460 L AWD',
 'LS 600h L',
 'LX 570',
 'RX 350 AWD',
 'RX 450h AWD',
 'MKS AWD',
 'MKT AWD',
 'MKT LIVERY',
 'MKT LIVERY AWD',
 'MKX AWD',
 'MKZ',
 'MKZ AWD',
 'MKZ HYBRID',
 'NAVIGATOR 4X4 FFV',
 'GHIBLI',
 'GHIBLI AWD',
 'GRANTURISMO',
 'GRANTURISMO CONVERTIBLE',
 'QUATTROPORTE GTS',
 'QUATTROPORTE SQ4',
 'CX-5',
 'CX-5 4WD',
 'CX-9',
 'CX-9 4WD',
 'MAZDA2',
 'MAZDA3 4-DOOR',
 'MAZDA3 4-DOOR (i-ELOOP)',
 'MAZDA3 4-DOOR (SIL)',
 'MAZDA3 5-DOOR',
 'MAZDA3 5-DOOR (i-ELOOP)',
 'MAZDA3 5-DOOR (SIL)',
 'MAZDA5',
 'MAZDA6',
 'MAZDA6 (i-ELOOP)',
 'MX-5',
 'B 250',
 'C 250',
 'C 250 COUPE',
 'C 300 4MATIC FFV',
 'C 350',
 'C 350 4MATIC',
 'C 350 4MATIC COUPE',
 'C 350 COUPE',
 'C 63 AMG',
 'C 63 AMG COUPE',
 'CL 550 4MATIC',
 'CL 63 AMG',
 'CLA 250',
 'CLA 45 AMG 4MATIC',
 'CLS 550 4MATIC',
 'CLS 63 AMG 4MATIC',
 'CLS 63 AMG S 4MATIC',
 'E 250 BLUETEC 4MATIC',
 'E 300 4MATIC',
 'E 350 4MATIC',
 'E 350 4MATIC COUPE',
 'E 350 4MATIC WAGON',
 'E 350 CABRIOLET',
 'E 350 COUPE',
 'E 400 HYBRID',
 'E 550 4MATIC',
 'E 550 CABRIOLET',
 'E 550 COUPE',
 'E 63 AMG 4MATIC',
 'E 63 AMG 4MATIC WAGON',
 'E 63 AMG S 4MATIC',
 'E 63 AMG S 4MATIC WAGON',
 'G 550',
 'G 63 AMG',
 'GL 350 BLUETEC 4MATIC',
 'GL 450 4MATIC',
 'GL 550 4MATIC',
 'GL 63 AMG',
 'GLK 250 BLUETEC 4MATIC',
 'GLK 350 4MATIC',
 'ML 350 4MATIC FFV',
 'ML 350 BLUETEC 4MATIC',
 'ML 550 4MATIC',
 'ML 63 AMG 4MATIC',
 'S 550 4MATIC LWB',
 'S 550 4MATIC SWB',
 'S 63 AMG 4MATIC',
 'SL 550',
 'SL 63 AMG',
 'SL 65 AMG',
 'SLK 250',
 'SLK 350',
 'SLK 55 AMG',
 'SLS AMG BLACK SERIES COUPE',
 'SLS AMG GT COUPE',
 'SLS AMG ROADSTER',
 'COOPER CLUBMAN',
 'COOPER CONVERTIBLE',
 'COOPER COUNTRYMAN',
 'COOPER COUPE',
 'COOPER PACEMAN',
 'COOPER ROADSTER',
 'COOPER S CLUBMAN',
 'COOPER S CONVERTIBLE',
 'COOPER S COUNTRYMAN ALL4',
 'COOPER S COUPE',
 'COOPER S PACEMAN ALL4',
 'COOPER S ROADSTER',
 'JOHN COOPER WORKS CLUBMAN',
 'JOHN COOPER WORKS CONVERTIBLE',
 'JOHN COOPER WORKS COUNTRYMAN ALL4',
 'JOHN COOPER WORKS COUPE',
 'JOHN COOPER WORKS PACEMAN ALL4',
 'JOHN COOPER WORKS ROADSTER',
 'LANCER',
 'LANCER AWD',
 'LANCER EVOLUTION',
 'LANCER RALLIART',
 'LANCER SPORTBACK',
 'MIRAGE',
 'OUTLANDER',
 'OUTLANDER 4WD',
 'RVR',
 'RVR 4WD',
 '370Z',
 '370Z ROADSTER',
 'ALTIMA',
 'ARMADA 4WD',
 'FRONTIER',
 'FRONTIER 4WD',
 'GT-R',
 'JUKE',
 'JUKE AWD',
 'MAXIMA',
 'MURANO AWD',
 'NV200 CARGO VAN',
 'PATHFINDER',
 'PATHFINDER 4WD',
 'PATHFINDER HYBRID 4WD',
 'QUEST',
 'ROGUE',
 'ROGUE AWD',
 'SENTRA',
 'TITAN',
 'TITAN 4WD',
 'VERSA',
 'XTERRA 4WD',
 '911 CARRERA',
 '911 CARRERA 4',
 '911 CARRERA 4 CABRIOLET',
 '911 CARRERA 4S',
 '911 CARRERA 4S CABRIOLET',
 '911 CARRERA CABRIOLET',
 '911 CARRERA S',
 '911 CARRERA S CABRIOLET',
 '911 GT3',
 '911 TURBO',
 '911 TURBO CABRIOLET',
 '911 TURBO S',
 '911 TURBO S CABRIOLET',
 'BOXSTER',
 'BOXSTER S',
 'CAYENNE',
 'CAYENNE DIESEL',
 'CAYENNE GTS',
 'CAYENNE S',
 'CAYENNE S HYBRID',
 'CAYENNE TURBO',
 'CAYMAN',
 'CAYMAN S',
 'PANAMERA',
 'PANAMERA 4',
 'PANAMERA 4S',
 'PANAMERA 4S EXECUTIVE',
 'PANAMERA GTS',
 'PANAMERA S',
 'PANAMERA TURBO',
 'PANAMERA TURBO EXECUTIVE',
 '1500 (MDS)',
 '1500 4X4 (MDS)',
 '1500 4X4 DIESEL',
 '1500 4X4 FFV',
 '1500 DIESEL',
 '1500 FFV',
 '1500 HFE',
 'CARGO VAN FFV',
 'GHOST',
 'GHOST EWB',
 'PHANTOM',
 'PHANTOM COUPE',
 'PHANTOM DROPHEAD COUPE',
 'PHANTOM EWB',
 'WRAITH',
 'FR-S',
 'iQ',
 'tC',
 'xB',
 'xD',
 'FORTWO CABRIOLET',
 'FORTWO COUPE',
 'VIPER COUPE',
 'VIPER GTS COUPE',
 'BRZ',
 'FORESTER AWD',
 'IMPREZA AWD',
 'IMPREZA WAGON AWD',
 'LEGACY AWD',
 'OUTBACK AWD',
 'TRIBECA AWD',
 'XV CROSSTREK AWD',
 'XV CROSSTREK HYBRID AWD',
 '4RUNNER (Part-Time 4WD)',
 '4RUNNER 4WD',
 'AVALON',
 'CAMRY',
 'CAMRY HYBRID LE',
 'CAMRY HYBRID XLE/SE',
 'COROLLA',
 'COROLLA LE ECO (1-mode)',
 'COROLLA LE ECO (2-mode)',
 'COROLLA MATRIX',
 'FJ CRUISER 4WD',
 'HIGHLANDER',
 'HIGHLANDER AWD',
 'HIGHLANDER HYBRID AWD',
 'HIGHLANDER HYBRID AWD LE',
 'PRIUS',
 'PRIUS c',
 'PRIUS v',
 'RAV4',
 'RAV4 AWD',
 'RAV4 LIMITED AWD',
 'SEQUOIA 4WD',
 'SIENNA',
 'SIENNA AWD',
 'TACOMA',
 'TACOMA 4WD',
 'TUNDRA',
 'TUNDRA 4WD',
 'VENZA',
 'VENZA 4WD',
 'YARIS',
 'BEETLE',
 'BEETLE CONVERTIBLE',
 'BEETLE TDI CLEAN DIESEL',
 'CC',
 'CC 4MOTION',
 'EOS',
 'GOLF WAGON',
 'GOLF WAGON TDI CLEAN DIESEL',
 'JETTA',
 'JETTA GLI',
 'JETTA TDI CLEAN DIESEL',
 'JETTA TURBO HYBRID',
 'PASSAT',
 'PASSAT TDI CLEAN DIESEL',
 'ROUTAN',
 'TIGUAN',
 'TIGUAN 4MOTION',
 'TOUAREG',
 'TOUAREG TDI CLEAN DIESEL',
 'S60',
 'S60 AWD',
 'S80',
 'S80 AWD',
 'XC60',
 'XC60 AWD',
 'XC70 AWD',
 'XC90 AWD']

In [8]:
list(df.VEHICLECLASS.unique())

['COMPACT',
 'SUV - SMALL',
 'MID-SIZE',
 'MINICOMPACT',
 'SUBCOMPACT',
 'TWO-SEATER',
 'FULL-SIZE',
 'STATION WAGON - SMALL',
 'SUV - STANDARD',
 'VAN - CARGO',
 'VAN - PASSENGER',
 'PICKUP TRUCK - STANDARD',
 'MINIVAN',
 'SPECIAL PURPOSE VEHICLE',
 'STATION WAGON - MID-SIZE',
 'PICKUP TRUCK - SMALL']

In [9]:
list(df.FUELTYPE.unique())

['Z', 'D', 'X', 'E']

In [10]:
cat_features = ['FUELTYPE']    # ['FUELTYPE', 'MAKE', 'VEHICLECLASS']

## Replace

## OrdinalEncoder

## LabelEncoder

Объект `LabelEncoder` присваивает каждому уникальному значению отдельное целое число.

<img src="images/label_encoder_example.png"/>

Этот подход **предполагает упорядочение категорий**: 

`Никогда (0) < Редко (1) < Большинство дней (2) < Каждый день (3)`.

Это предположение имеет смысл в этом примере, потому что существует неоспоримое ранжирование категорий.

Не все категориальные переменные имеют четкий порядок значений, но мы называем те, которые имеют **порядковыми переменными**.

Для моделей на основе деревьев (таких, как деревья решений = `decision trees` и случайные леса = `random forests`) можно ожидать, что кодирование меток будет хорошо работать с порядковыми переменными.

In [11]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

encoded = df[cat_features].apply(encoder.fit_transform)
encoded

      FUELTYPE
0            3
1            3
2            3
3            3
4            3
...        ...
1062         2
1063         2
1064         2
1065         2
1066         2

[1067 rows x 1 columns]

In [12]:
new_df = df_num.join(encoded)
new_df

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,FUELTYPE
0,2014,2.0,4,9.9,6.7,8.5,33,196,3
1,2014,2.4,4,11.2,7.7,9.6,29,221,3
2,2014,1.5,4,6.0,5.8,5.9,48,136,3
3,2014,3.5,6,12.7,9.1,11.1,25,255,3
4,2014,3.5,6,12.1,8.7,10.6,27,244,3
...,...,...,...,...,...,...,...,...,...
1062,2014,3.0,6,13.4,9.8,11.8,24,271,2
1063,2014,3.2,6,13.2,9.5,11.5,25,264,2
1064,2014,3.0,6,13.4,9.8,11.8,24,271,2
1065,2014,3.2,6,12.9,9.3,11.3,25,260,2
1066,2014,3.2,6,14.9,10.2,12.8,22,294,2

## OneHotEncoder

При использовании `OneHotEncoder` создаются новые столбцы, указывающие на наличие (или отсутствие) каждого возможного значения в исходных данных.

<img src="images/one_hot_encoder_example.png" />

В исходном наборе данных "Цвет" - это категориальная переменная с тремя категориями: "Красный", "Желтый" и "Зеленый".

Соответствующий `OneHotEncoder` содержит один столбец для каждого возможного значения и одну строку для каждой строки в исходном наборе данных.

Если исходным значением было "Красный", помещаем 1 в столбец "Красный"; если исходным значением было "Желтый", мы помещаем 1 в столбец "Желтый" и так далее.

В отличие от `LabelEncoder`, `OneHotEncoder` **не предполагает упорядочивания категорий**.

Таким образом, вы можете ожидать, что этот подход будет работать особенно хорошо, если в категориальных данных *нет четкого упорядочения* (например, "Красный" не больше и не меньше, чем "Желтый").

Категориальные переменные без внутреннего ранжирования называют **номинальными переменными**.

Объект `OneHotEncoder` обычно работает не очень хорошо, если категориальная переменная принимает большое количество значений (т.е. обычно не следует использовать его для переменных, принимающих более 15 различных значений).

In [13]:
from sklearn.preprocessing import OneHotEncoder

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

OH_encoded = OH_encoder.fit_transform(df[cat_features])
OH_encoded

array([[0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.]])

In [14]:
column_names = OH_encoder.get_feature_names(cat_features)
column_names

array(['FUELTYPE_D', 'FUELTYPE_E', 'FUELTYPE_X', 'FUELTYPE_Z'],
      dtype=object)

In [15]:
OH_encoded_with_names = pd.DataFrame(OH_encoded, columns=column_names)
OH_encoded_with_names

      FUELTYPE_D  FUELTYPE_E  FUELTYPE_X  FUELTYPE_Z
0            0.0         0.0         0.0         1.0
1            0.0         0.0         0.0         1.0
2            0.0         0.0         0.0         1.0
3            0.0         0.0         0.0         1.0
4            0.0         0.0         0.0         1.0
...          ...         ...         ...         ...
1062         0.0         0.0         1.0         0.0
1063         0.0         0.0         1.0         0.0
1064         0.0         0.0         1.0         0.0
1065         0.0         0.0         1.0         0.0
1066         0.0         0.0         1.0         0.0

[1067 rows x 4 columns]

In [16]:
new_df = df_num.join(OH_encoded_with_names)
new_df

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,FUELTYPE_D,FUELTYPE_E,FUELTYPE_X,FUELTYPE_Z
0,2014,2.0,4,9.9,6.7,8.5,33,196,0.0,0.0,0.0,1.0
1,2014,2.4,4,11.2,7.7,9.6,29,221,0.0,0.0,0.0,1.0
2,2014,1.5,4,6.0,5.8,5.9,48,136,0.0,0.0,0.0,1.0
3,2014,3.5,6,12.7,9.1,11.1,25,255,0.0,0.0,0.0,1.0
4,2014,3.5,6,12.1,8.7,10.6,27,244,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,3.0,6,13.4,9.8,11.8,24,271,0.0,0.0,1.0,0.0
1063,2014,3.2,6,13.2,9.5,11.5,25,264,0.0,0.0,1.0,0.0
1064,2014,3.0,6,13.4,9.8,11.8,24,271,0.0,0.0,1.0,0.0
1065,2014,3.2,6,12.9,9.3,11.3,25,260,0.0,0.0,1.0,0.0
1066,2014,3.2,6,14.9,10.2,12.8,22,294,0.0,0.0,1.0,0.0

## Dummies

- `pd.get_dummies` приводит к матрице `Pandas DataFrame`, тогда как `OneHotEncoder` приводит к матрице `SciPy CSR`.

- `pd.get_dummies` намного быстрее, чем `OneHotEncoder`.

- `OneHotEncoder` не может обрабатывать строковые значения напрямую. Если ваши номинальные характеристики представляют собой строки, вам необходимо сначала сопоставить их с целыми числами.

- `pandas.get_dummies` - полная противоположность. По умолчанию он преобразует только строковые столбцы в one-hot представление, если столбцы не указаны.

- Суть в том, что кодировщик `OneHotEncoder` создает функцию, которая сохраняется и затем может применяться к новым наборам данных, которые используют те же категориальные переменные, с согласованными результатами.

- С другой стороны, с `sklearn.OneHotEncoder`, после того как мы создали кодировщик, мы можем повторно использовать его для получения одного и того же вывода каждый раз, со столбцами только для "красного" и "зеленого".
Невозможно явно контролировать, что происходит, когда встречается новый "синий": если предполагается, что это невозможно, то можно указать, чтобы он выдал ошибку с помощью `handle_unknown = "error"`; в противном случае мы можем сказать ему продолжить и просто установить красный и зеленый столбцы в 0 с помощью `handle_unknown = "ignore"`.

In [17]:
dummies = pd.get_dummies(df[cat_features])
dummies

      FUELTYPE_D  FUELTYPE_E  FUELTYPE_X  FUELTYPE_Z
0              0           0           0           1
1              0           0           0           1
2              0           0           0           1
3              0           0           0           1
4              0           0           0           1
...          ...         ...         ...         ...
1062           0           0           1           0
1063           0           0           1           0
1064           0           0           1           0
1065           0           0           1           0
1066           0           0           1           0

[1067 rows x 4 columns]

In [18]:
new_df = df_num.join(dummies)
new_df

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,FUELTYPE_D,FUELTYPE_E,FUELTYPE_X,FUELTYPE_Z
0,2014,2.0,4,9.9,6.7,8.5,33,196,0,0,0,1
1,2014,2.4,4,11.2,7.7,9.6,29,221,0,0,0,1
2,2014,1.5,4,6.0,5.8,5.9,48,136,0,0,0,1
3,2014,3.5,6,12.7,9.1,11.1,25,255,0,0,0,1
4,2014,3.5,6,12.1,8.7,10.6,27,244,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,3.0,6,13.4,9.8,11.8,24,271,0,0,1,0
1063,2014,3.2,6,13.2,9.5,11.5,25,264,0,0,1,0
1064,2014,3.0,6,13.4,9.8,11.8,24,271,0,0,1,0
1065,2014,3.2,6,12.9,9.3,11.3,25,260,0,0,1,0
1066,2014,3.2,6,14.9,10.2,12.8,22,294,0,0,1,0

## CountEncoder

Заменяет каждое категориальное значение количеством раз, сколько оно появляется в наборе данных.

Необходимо установить пакет [Category Encoders](http://contrib.scikit-learn.org/category_encoders/)

In [19]:
!pip -V

/home/ira/anaconda3/envs/LevelUp_DataScience/bin/pip

In [20]:
!conda install -c conda-forge category_encoders -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [21]:
import category_encoders as ce

count_enc = ce.CountEncoder()

count_encoded = count_enc.fit_transform(df[cat_features])
count_encoded

      FUELTYPE
0          434
1          434
2          434
3          434
4          434
...        ...
1062       514
1063       514
1064       514
1065       514
1066       514

[1067 rows x 1 columns]

In [22]:
new_df = df_num.join(count_encoded.add_suffix("_count"))
new_df

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,FUELTYPE_count
0,2014,2.0,4,9.9,6.7,8.5,33,196,434
1,2014,2.4,4,11.2,7.7,9.6,29,221,434
2,2014,1.5,4,6.0,5.8,5.9,48,136,434
3,2014,3.5,6,12.7,9.1,11.1,25,255,434
4,2014,3.5,6,12.1,8.7,10.6,27,244,434
...,...,...,...,...,...,...,...,...,...
1062,2014,3.0,6,13.4,9.8,11.8,24,271,514
1063,2014,3.2,6,13.2,9.5,11.5,25,264,514
1064,2014,3.0,6,13.4,9.8,11.8,24,271,514
1065,2014,3.2,6,12.9,9.3,11.3,25,260,514
1066,2014,3.2,6,14.9,10.2,12.8,22,294,514

## TargetEncoder

Заменяет категориальное значение средним значением для этого признака.

Например, учитывая дано значение для страны "RU", вычислите средний доход для всех строк с country == "RU", допустим 0.28.

Необходимо установить пакет [Category Encoders](http://contrib.scikit-learn.org/category_encoders/)

In [23]:
!pip -V

/home/ira/anaconda3/envs/LevelUp_DataScience/bin/pip

In [24]:
!conda install -c conda-forge category_encoders -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [25]:
import category_encoders as ce

target_enc = ce.TargetEncoder(cols=cat_features)

train_df = df.copy()

target_enc = target_enc.fit_transform(train_df[cat_features], train_df['CO2EMISSIONS'])
target_enc

/home/ira/anaconda3/envs/LevelUp_DataScience/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

        FUELTYPE
0     268.529954
1     268.529954
2     268.529954
3     268.529954
4     268.529954
...          ...
1062  241.097276
1063  241.097276
1064  241.097276
1065  241.097276
1066  241.097276

[1067 rows x 1 columns]

In [26]:
new_df = df_num.join(target_enc.add_suffix("_target"))
new_df

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,FUELTYPE_target
0,2014,2.0,4,9.9,6.7,8.5,33,196,268.529954
1,2014,2.4,4,11.2,7.7,9.6,29,221,268.529954
2,2014,1.5,4,6.0,5.8,5.9,48,136,268.529954
3,2014,3.5,6,12.7,9.1,11.1,25,255,268.529954
4,2014,3.5,6,12.1,8.7,10.6,27,244,268.529954
...,...,...,...,...,...,...,...,...,...
1062,2014,3.0,6,13.4,9.8,11.8,24,271,241.097276
1063,2014,3.2,6,13.2,9.5,11.5,25,264,241.097276
1064,2014,3.0,6,13.4,9.8,11.8,24,271,241.097276
1065,2014,3.2,6,12.9,9.3,11.3,25,260,241.097276
1066,2014,3.2,6,14.9,10.2,12.8,22,294,241.097276

## CatBoostEncoder

Похож на `TargetEncoder` в том смысле, что оно основано на целевой вероятности (target probability) для данного значения. Однако с `CatBoostEncoder` для каждой строки целевая вероятность вычисляется только из строк перед ней.

Необходимо установить пакет [Category Encoders](http://contrib.scikit-learn.org/category_encoders/)

In [27]:
!pip -V

/home/ira/anaconda3/envs/LevelUp_DataScience/bin/pip

In [28]:
!conda install -c conda-forge category_encoders -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [29]:
import category_encoders as ce

target_enc = ce.CatBoostEncoder(cols=cat_features)

train_df = df.copy()

target_enc = target_enc.fit_transform(train_df[cat_features], train_df['CO2EMISSIONS'])
target_enc

/home/ira/anaconda3/envs/LevelUp_DataScience/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

        FUELTYPE
0     256.228679
1     226.114339
2     224.409560
3     202.307170
4     212.845736
...          ...
1062  240.823978
1063  240.883031
1064  240.928181
1065  240.986801
1066  241.023791

[1067 rows x 1 columns]

In [30]:
new_df = df_num.join(target_enc.add_suffix("_cb"))
new_df

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,FUELTYPE_cb
0,2014,2.0,4,9.9,6.7,8.5,33,196,256.228679
1,2014,2.4,4,11.2,7.7,9.6,29,221,226.114339
2,2014,1.5,4,6.0,5.8,5.9,48,136,224.409560
3,2014,3.5,6,12.7,9.1,11.1,25,255,202.307170
4,2014,3.5,6,12.1,8.7,10.6,27,244,212.845736
...,...,...,...,...,...,...,...,...,...
1062,2014,3.0,6,13.4,9.8,11.8,24,271,240.823978
1063,2014,3.2,6,13.2,9.5,11.5,25,264,240.883031
1064,2014,3.0,6,13.4,9.8,11.8,24,271,240.928181
1065,2014,3.2,6,12.9,9.3,11.3,25,260,240.986801
1066,2014,3.2,6,14.9,10.2,12.8,22,294,241.023791