# Домашнее задание по теме: пакет Pandas Profiling

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

In [2]:
# !conda install matplotlib numpy pandas-profiling -y

In [3]:
import matplotlib
import matplotlib.pyplot as plt

matplotlib.__version__

'3.3.4'

In [4]:
import numpy as np

np.__version__

'1.19.2'

In [5]:
import pandas as pd

pd.__version__

'1.2.3'

In [6]:
import pandas_profiling
from pandas_profiling import ProfileReport

pandas_profiling.__version__

'2.9.0'

## Загрузка данных

[Источник (Chocolate Bar Ratings)](https://www.kaggle.com/rtatman/chocolate-bar-ratings)

[Описание колонок](http://flavorsofcacao.com/chocolate_database.html)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [10]:
# загрузить датасет в pandas dataframe
df = pd.read_csv("./../../data/flavors_of_cacao.csv")

# вывести первые 5 и последние 5 строк
df

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

## Обзор пакета `pandas_profiling`

In [8]:
# создать объект ProfileReport для датафрейма
report = ProfileReport(df, title="Pandas Profiling Report")

In [9]:
# сохранить отчет в файл html
report.to_file("tmp/df_report.html")

Summarize dataset:   0%|          | 0/23 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

---

Открыть отчет в браузере, и найти ответы на вопросы.

Вписать ответы вместо "`место_для_ответа`".

(в " \` " для того чтобы было удобнее проверять ответ)

Пример:

(задание)
**Количество столбцов:**
`место_для_ответа`

(с ответом)
**Количество столбцов:**
`9`

---

Вопросы:

**Количество числовых столбцов:**
`3`

**Количество пропущенных ячеек:**
`2`

**В каких столбцах пропущены ячейки:**
`Broad Bean Origin / Bean Type`

**Какие колонки имеют подозрительно сильную корреляцию между собой:**
`REF / Review Date`

**Эта сильная корреляция положительная или отрицательная:**
`положительная`

(Желательно) **Определить причину такой сильной корреляции (прочитать описание колонок):**
`REF - это кодовый номер, который определяет как давно был сделан тест. Review Date - это дата теста.`

**Какая страна является самым популярным местонахождением компании:**
`U.S.A.`

**Сколько всего различных типов бобов:**
`41`