# Метод k-средних (K-Means clustering)

---

**Источники:**

[Метод k-средних](https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_k-%D1%81%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%85)

[k-means clustering](https://en.wikipedia.org/wiki/K-means_clustering)

[]()

[]()

[]()

[]()

[]()

[]()

[]()

[]()

[]()

---

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

# Для MacOS/Ubuntu
# !which pip

# Для Windows
# !where pip

In [2]:
# !conda install matplotlib numpy scikit-learn seaborn -y

In [3]:
import numpy as np

np.__version__

'1.20.2'

In [4]:
import pandas as pd

pd.__version__

'1.2.4'

In [5]:
import matplotlib
import matplotlib.pyplot as plt

matplotlib.__version__

'3.3.4'

In [6]:
import seaborn as sns

sns.__version__

'0.11.1'

In [10]:
import sklearn

sklearn.__version__

'0.24.2'

## Описание

TODO

## Загрузка данных

[Источник (custDatasets)](https://www.kaggle.com/gangliu/custdatasets).

In [11]:
df = pd.read_csv('./../../data/Cust_Segmentation.csv')
df

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,Address,DebtIncomeRatio
0,1,41,2,6,19,0.12,1.07,0.00,NBA001,6.30
1,2,47,1,26,100,4.58,8.22,0.00,NBA021,12.80
2,3,33,2,10,57,6.11,5.80,1.00,NBA013,20.90
3,4,29,2,4,19,0.68,0.52,0.00,NBA009,6.30
4,5,47,1,31,253,9.31,8.91,0.00,NBA008,7.20
...,...,...,...,...,...,...,...,...,...,...
845,846,27,1,5,26,0.55,1.22,NaN,NBA007,6.80
846,847,28,2,7,34,0.36,2.02,0.00,NBA002,7.00
847,848,25,4,0,18,2.80,3.21,1.00,NBA001,33.40
848,849,32,1,12,28,0.12,0.70,0.00,NBA012,2.90
849,850,52,1,16,64,1.87,3.64,0.00,NBA025,8.60

## Подготовка данных

## PCA

## Pipeline

In [9]:
from sklearn.cluster import KMeans

k_means = KMeans(init = "k-means++", n_clusters = 4, n_init = 12)
k_means.fit(X)

k_means_labels = k_means.labels_
k_means_labels

NameError: name 'X' is not defined

In [ ]:
clusterNum = 3
k_means = KMeans(init = "k-means++", n_clusters = clusterNum, n_init = 12)
k_means.fit(X)
labels = k_means.labels_
print(labels)

<h2 id="insights">Insights</h2>
We assign the labels to each row in dataframe.

In [ ]:
df["Clus_km"] = labels
df.head(5)

We can easily check the centroid values by averaging the features in each cluster.

In [ ]:
df.groupby('Clus_km').mean()

Now, lets look at the distribution of customers based on their age and income:

In [ ]:
area = np.pi * ( X[:, 1])**2
plt.scatter(X[:, 0], X[:, 3], s=area, c=labels.astype(np.float), alpha=0.5)
plt.xlabel('Age', fontsize=18)
plt.ylabel('Income', fontsize=16)

plt.show()

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
fig = plt.figure(1, figsize=(8, 6))
plt.clf()
ax = Axes3D(fig, rect=[0, 0, .95, 1], elev=48, azim=134)

plt.cla()
ax.set_xlabel('Education', fontsize=18)
ax.set_ylabel('Age', fontsize=18)
ax.set_zlabel('Income', fontsize=18)

ax.scatter(X[:, 1], X[:, 0], X[:, 3], c= labels.astype(np.float))