# Домашнее задание по теме: пакет `seaborn`

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

!pip -V

pip 21.0.1 from /home/ira/.local/lib/python3.8/site-packages/pip (python 3.8)

In [2]:
# !conda install matplotlib numpy pandas seaborn -y

In [3]:
import numpy as np

np.__version__

'1.19.2'

In [4]:
import pandas as pd

pd.__version__

'1.2.3'

In [5]:
import matplotlib
import matplotlib.pyplot as plt

matplotlib.__version__

'3.3.4'

In [6]:
import seaborn as sns

sns.__version__

'0.11.1'

## Загрузка данных

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [7]:
# загрузить датасет в pandas dataframe
df = pd.read_csv("./../../data/hotel_bookings.csv")

# показать все колонки
pd.options.display.max_columns = None

# вывести первые 5 и последние 5 строк
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

## Задание

**ВНИМАНИЕ:** при переносе этого файла в свой репозиторий необходимо дополнительно скопировать директорию `03_data_analysis/hw/images`, так как там содержаться изображения для задания.

- Далее в заданиях будут использованы сокращенные называния с помощью `(=название)`. Это нужно для удобства описания.
- Можно использовать любые названия для переменных.
- Графики должны быть максимально похожи на заданное изображение, но не обязательно идентичными
(по желанию можно менять что-то, сохраняя сложность построения изображения). Важные замечания будут даны в комментарии к конкретному графику (например: "Цвет из палитры CSS" значит ЛЮБЫЕ цвета из списка).

## Подготовка данных

In [8]:
# изменить полный dataframe:
# добавить новый столбец (=all_days), который является 
# суммой stays_in_week_nights (=weekdays) и stays_in_weekend_nights (=weekends)
df['stays_nights'] = df.stays_in_week_nights + df.stays_in_weekend_nights

# вывести первые 5 и последние 5 строк измененного dataframe
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,stays_nights
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,7
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,7
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,7
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,7
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,9

Для "маппинга" (замены) понадобиться метод [pandas.Series.map](https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html).

In [9]:
# изменить полный dataframe:
# добавить столбец (=is_ok) 
# с помощью "маппинга" колонки is_canceled (0 в 1, 1 в 0)
df["is_ok"] = df.is_canceled.map({0: 1, 1: 0})

# вывести перые 15 значений столбцов is_canceled и is_ok
# проверить, что они имеют в точности обратные значения
df[['is_canceled', 'is_ok']].head(15)

    is_canceled  is_ok
0             0      1
1             0      1
2             0      1
3             0      1
4             0      1
5             0      1
6             0      1
7             0      1
8             1      0
9             1      0
10            1      0
11            0      1
12            0      1
13            0      1
14            0      1

In [10]:
# сгруппировать данные по arrival_date_week_number 
# функция агрегации - сумма
# (=week_sum)
week_sum = df.groupby('arrival_date_week_number').sum()

# вывести week_sum
week_sum

,is_canceled,lead_time,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,stays_nights,is_ok
arrival_date_week_number,,,,,,,,,,,,,,,,,,,,,
1,353,64092,2111572,3395,1074,2416,2013,137.0,6,40,31,169,251,80284.0,2984.0,2275,85592.58,87,785,3490,694
2,395,56147,2456309,11826,949,2621,2027,78.0,12,89,80,393,237,88049.0,34737.0,1367,83209.44,87,710,3570,823
3,335,53115,2659974,21653,1041,3167,2128,112.0,15,98,170,326,394,91252.0,14004.0,922,88931.52,102,671,4208,984
4,506,68675,2998706,34520,906,3104,2500,73.0,8,95,132,565,407,144010.0,30315.0,7040,103080.69,115,693,4010,981
5,425,57024,2797010,24544,940,3054,2309,89.0,14,107,132,440,312,95447.0,22169.0,3445,94262.42,124,709,3994,962
6,385,59853,3040940,10671,1434,3594,2684,149.0,17,95,46,408,320,109142.0,39748.0,260,106330.27,106,871,5028,1123
7,684,103324,4252904,27288,1741,4535,3975,241.0,11,126,95,297,367,143495.0,50239.0,685,159735.30,135,1170,6276,1425
8,793,119545,4468679,44682,1554,4581,3870,180.0,13,84,242,407,363,137781.0,44081.0,386,166267.55,150,1068,6135,1423
9,724,100952,4268993,37402,1964,5437,3842,224.0,11,94,184,297,523,142085.0,34717.0,3989,159082.01,120,1085,7401,1393
10,737,144196,4333506,19555,2109,5473,3703,94.0,9,107,78,371,476,178852.0,20349.0,2500,160494.92,105,1058,7582,1412
11,618,118945,4174291,25790,1747,5337,3607,105.0,12,92,26,460,452,151882.0,35621.0,740,159231.14,127,1035,7084,1452
12,630,154546,4200361,40138,1882,4959,3718,123.0,13,98,38,345,402,143911.0,22304.0,848,162662.45,131,976,6841,1453
13,882,192359,4871731,57910,2220,5579,4556,262.0,19,81,120,408,475,214203.0,27631.0,9802,223275.91,158,1251,7799,1534
14,832,195128,4565485,30199,1826,5898,4179,276.0,11,71,36,292,671,133476.0,85489.0,1350,214496.60,141,1179,7724,1432
15,1047,230080,5422443,25121,2605,6254,5157,316.0,13,73,269,565,564,212710.0,9747.0,4437,271817.39,153,1578,8859,1642
16,976,233602,4849709,39030,2218,6099,4530,230.0,10,81,78,332,518,217362.0,26389.0,4407,242130.25,132,1246,8317,1429
17,1184,291420,5656346,65858,2699,6478,5215,245.0,15,58,18,268,566,215348.0,34009.0,17238,285386.79,161,1372,9177,1621
18,1314,300553,5900305,48754,2614,7352,5460,219.0,16,68,112,317,594,230429.0,15399.0,6818,300385.65,159,1539,9966,1612
19,863,266924,4843705,17313,2111,6110,4480,157.0,13,87,65,478,600,184730.0,20454.0,10558,255992.23,122,1282,8221,1539
20,1218,336073,5616082,40318,2702,6496,4928,161.0,13,60,60,281,481,240433.0,26993.0,21441,312440.35,129,1359,9198,1567
21,1060,346354,5755066,59890,2238,6459,5316,280.0,19,100,27,385,578,188683.0,46511.0,14815,303825.89,157,1584,8697,1794
22,1016,351197,5134222,50784,2164,6265,4712,214.0,17,85,49,536,705,210754.0,36799.0,3540,285752.52,150,1400,8429,1530
23,1070,285619,5285240,28484,2310,6824,4890,194.0,16,75,72,401,464,192842.0,31048.0,3578,303868.38,138,1350,9134,1551
24,1023,316682,5037263,27899,2453,6596,4641,207.0,18,50,64,245,577,220594.0,9471.0,5200,290516.15,124,1409,9049,1475
25,1241,345320,5369803,47207,2437,7234,4782,257.0,16,68,61,452,490,228193.0,25936.0,8722,315966.10,144,1504,9671,1422
26,861,347554,4821588,55059,2238,6130,4421,303.0,18,65,24,434,493,194800.0,28087.0,4172,272321.40,157,1372,8368,1530
27,985,363531,5371444,29929,2832,7555,5217,430.0,21,72,124,362,569,192639.0,9405.0,95,309580.24,163,1717,10387,1679
28,1049,377149,5752517,26529,3251,8042,5570,496.0,25,87,194,557,576,229851.0,16465.0,177,353344.80,199,2074,11293,1804
29,1016,374799,5570584,44401,3119,7956,5528,506.0,25,68,781,363,646,223604.0,8277.0,0,352992.49,190,1832,11075,1747
30,1243,411358,6223833,71214,3297,8593,6177,581.0,27,57,278,293,657,254122.0,11883.0,2667,402051.97,198,1914,11890,1844
31,995,346309,5526409,53451,3068,7891,5527,568.0,36,45,133,178,643,252592.0,5867.0,27,388020.34,213,2078,10959,1746
32,1166,402004,6138962,21359,3444,8930,6136,622.0,57,32,268,130,714,242060.0,5085.0,1025,421593.39,225,2285,12374,1879
33,1505,431386,7217339,46467,3553,9685,7257,715.0,42,61,304,172,905,266581.0,6014.0,4410,507530.68,246,2411,13238,2075
34,1044,379641,6128925,59835,3294,8548,6048,682.0,37,53,146,248,911,252085.0,7760.0,0,443364.93,204,2445,11842,1996
35,923,292672,5227448,67147,2659,7314,5110,449.0,40,61,190,144,717,200124.0,7233.0,98,340295.88,199,1789,9973,1670
36,813,265377,4367641,27819,2403,6079,4245,253.0,25,34,1124,70,446,146323.0,5491.0,304,230497.06,163,1295,8482,1354
37,876,290915,4492532,18311,2233,5910,4248,123.0,22,19,230,124,384,121297.0,6483.0,2276,229645.34,123,1187,8143,1353
38,1039,382420,5363205,41060,2029,6313,4894,146.0,28,30,1055,223,527,150837.0,45932.0,8871,267769.94,133,1305,8342,1622
39,987,346452,5201992,56878,2688,6250,4832,128.0,15,67,553,185,558,175910.0,13103.0,14253,293388.41,116,1182,8938,1594
40,999,330090,4831324,48313,2343,5733,4340,90.0,12,67,255,246,397,150203.0,13514.0,22864,240090.47,118,1069,8076,1398
41,1086,334860,5439783,16495,2506,6459,5047,147.0,18,122,1002,124,445,187541.0,24505.0,17860,245578.86,144,1256,8965,1613
42,1075,389049,5554874,35927,1862,5732,4745,100.0,13,55,283,218,678,152542.0,68795.0,6998,248520.68,142,935,7594,1681
43,899,277782,4740700,46272,2186,5485,4331,197.0,10,59,124,277,507,148278.0,21155.0,7203,205515.11,139,1369,7671,1453
44,745,236905,4579486,61604,2019,4933,4178,191.0,14,57,153,230,491,136440.0,15984.0,14865,188415.76,143,1404,6952,1527
45,761,175113,3912511,16560,1747,5176,3418,98.0,16,61,61,171,438,177622.0,33314.0,1393,152918.62,128,1144,6923,1180
46,589,149463,3172763,14750,1412,3766,2732,53.0,6,56,69,199,369,123461.0,28032.0,1334,133779.01,110,992,5178,985
47,376,99703,3396276,28939,1225,4073,2859,55.0,18,54,67,247,431,132660.0,36301.0,8831,113656.56,115,1079,5298,1309
48,375,106557,3031450,35858,1101,3090,2449,84.0,8,97,50,316,413,91274.0,40160.0,567,101848.56,100,782,4191,1129
49,665,131927,3591667,17215,1924,3406,3169,137.0,15,60,161,196,397,117263.0,33113.0,3935,125388.71,122,827,5330,1117
50,597,79347,3033473,11754,807,3253,2600,123.0,12,76,259,356,268,85590.0,11166.0,2585,112761.10,96,826,4060,908
51,246,43945,1880613,14299,673,1925,1566,59.0,9,86,39,421,195,77758.0,14840.0,0,60085.65,91,585,2598,687
52,354,85780,2408630,26643,1453,3315,2217,177.0,17,64,91,230,327,130227.0,6687.0,0,87390.23,95,953,4768,841
53,644,174110,3660317,51833,1442,5047,3553,267.0,26,63,98,216,511,124122.0,14651.0,13949,194536.91,135,1224,6489,1172

In [11]:
# из датафрейма week_sum получить 
# значения стоблцов is_canceled и is_ok
# записать в новый датафрейм (=week_sum_canceled_ok)
week_sum_canceled_ok = week_sum[['is_canceled', 'is_ok']]

# вывести week_sum_canceled_ok
week_sum_canceled_ok

                          is_canceled  is_ok
arrival_date_week_number
1                                 353    694
2                                 395    823
3                                 335    984
4                                 506    981
5                                 425    962
6                                 385   1123
7                                 684   1425
8                                 793   1423
9                                 724   1393
10                                737   1412
11                                618   1452
12                                630   1453
13                                882   1534
14                                832   1432
15                               1047   1642
16                                976   1429
17                               1184   1621
18                               1314   1612
19                                863   1539
20                               1218   1567
21                               1060   1794
22                               1016   1530
23                               1070   1551
24                               1023   1475
25                               1241   1422
26                                861   1530
27                                985   1679
28                               1049   1804
29                               1016   1747
30                               1243   1844
31                                995   1746
32                               1166   1879
33                               1505   2075
34                               1044   1996
35                                923   1670
36                                813   1354
37                                876   1353
38                               1039   1622
39                                987   1594
40                                999   1398
41                               1086   1613
42                               1075   1681
43                                899   1453
44                                745   1527
45                                761   1180
46                                589    985
47                                376   1309
48                                375   1129
49                                665   1117
50                                597    908
51                                246    687
52                                354    841
53                                644   1172

## `relplot`

**ВНИМАНИЕ:**

## `scatterplot`

**ВНИМАНИЕ:**

## `lineplot`

**ВНИМАНИЕ:**

## `displot`

**ВНИМАНИЕ:**

## `histplot`

**ВНИМАНИЕ:**

## `kdeplot`

**ВНИМАНИЕ:**

## `rugplot`

**ВНИМАНИЕ:**

## `catplot`

**ВНИМАНИЕ:**

## `stripplot`

**ВНИМАНИЕ:**

## `swarmplot`

**ВНИМАНИЕ:**

## `boxplot`

**ВНИМАНИЕ:**

## `violinplot`

**ВНИМАНИЕ:**

## `pointplot`

**ВНИМАНИЕ:**

## `barplot`

**ВНИМАНИЕ:**

## `countplot`

**ВНИМАНИЕ:**

## `jointplot`

**ВНИМАНИЕ:**

## `lmplot`

**ВНИМАНИЕ:**